[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/join/:code"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  VITE_SUPABASE_URL = "https://tvhamheesddrzeqnppxm.supabase.co"
  VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR2aGFtaGVlc2RkcnplcW5wcHhtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc2Nzg0ODAsImV4cCI6MjA4MzI1NDQ4MH0.QGhooUyy2_CnXzQSEYkKcy_Yte_FqKc08BJZkn_38nU"
  VITE_TMDB_API_KEY = "05d97b93f98ff236b536d2aff39935c7"
