@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    background-color: #050505;
    color: #ffffff;
    margin: 0;
    overflow-x: hidden;
}

.font-cinzel {
    font-family: 'Cinzel', serif;
}

/* Custom scrollbar for circuit roadmap */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
